@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 27.9% 16.9%;
    --foreground: 0 0% 100%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 44.6 99.2% 48.6%;
    --secondary-foreground: 18.2 82.9% 63.3%;
    --destructive: 356 92.9% 44.1%;
    --destructive-foreground: 356 92.9% 44.1%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 243.8 27.6% 22.7%;
    --popover-foreground: 0 0% 3.9%;
    --muted: 216.9 19.1% 26.7%;
    --muted-foreground: 240 1.1% 65.5%;
    --border: 216.9 19.1% 26.7%;
    --input: 0 0% 89.8%;
    --ring: 256.5 100% 24.3%;
    --radius: 0.5rem;
  }
  * {
    @apply border-border ring-ring;
  }
  .auth-input {
    @apply w-full p-2 border bg-inherit rounded-md outline-none
     text-white ring-cyan-800 focus:ring-1 shadow-[0px_-3px_16px_3px_rgba(182,182,182,0.08)];
  }
}
